astroid
certifi==2021.10.8
click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
isort
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy
MarkupSafe==2.0.1
mccabe==0.6.1
pylint
SQLAlchemy==1.4.27
toml
Werkzeug==2.0.2
wrapt
